.details-picker-immigration span {
    width: 150px
}
.details-picker-immigration button {
    width: 100% !important;
}

.details-calendar-input label {
    width: 200px !important;
    font-size: 12px !important;
    display: flex;
    align-items: center;
    padding-right: var(--spectrum-global-dimension-size-100);
}

.details-calendar-input span {
    width: 100%
}