/* @font-face {
  font-family: AdobeClean-Regular;
  src: url('./assets/fonts/AdobeClean-Regular.otf');
} */

html {
  font-size: 12px !important;
}

body {
  height: 100%;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: AdobeClean-Regular; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

canvas {
  border: 1px solid grey;
}
